body {
    margin: 0;
    font-family: Helvetica, Arial, Sans-Serif;
    background-color: lightgray;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

nav {
    background-color: #142127;
    height: 50px;
    width: 100%;
    text-align: center;
}

    nav a {
        display: inline-block;
        height: 100%;
        padding: 15px;
    }

.main-img {
    position: relative;
    height: 400px;
    background-image: url('../content/static/beach_norway.jpg');
    background-position: center;
    background-size: cover;
}

.title {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    text-shadow: 0 5px 50px black;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.post {
    margin: 5px;
    position: relative;
    height: 400px;
    display: flex;
    margin-bottom:10px;
}

    .post img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.post-body {
    margin: -5px 5px 0;
    background-color: white;
    padding:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}
